#csstransfer {
  background-image: url("imgs/procodebackground.png"); /* The image used */
  background-color: grey; /* Used if the image is unavailable */
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

#csstransfer > h2 {
  color: white;
  text-align: center;
}

h1 {
  color: black;
  font-family: arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 1px;
}

h4 {
  color: white;
}

#csstransfer > a {
  text-decoration: none;
  background-color: white;
  font-size: 1.5em;
  padding: 1.5rem;
  border-radius: 10px;
}

form {
  border: solid 1px white;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
  background: darkgrey;
}

form > * {
  margin: 0.5rem;
}

form > input[type="submit"] {
  width: 40%;
  margin: 0.5rem;
  margin-right: auto;
}

footer {
  border-top: solid 1px black;
  padding: 2rem 2rem 4rem;
  margin: 1rem 1rem;
}

bio {
  width: 40%;
  margin: 0.5rem;
  margin-right: auto;
}
bio {
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
  background-color: grey;
}

#gallery {
  border: solid 1px black;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  background: darkgrey;
  flex-direction: row;
}

#gallery > * {
  padding: 0.5rem;
}

#gallery img {
  display: block;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 15%;
  border-radius: 8px;
  flex-direction: row;
}

@media (max-width: 549px) {
  .hidden--mobile {
    display: none !important;
  }

  nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  nav > i {
    padding: 1rem;
    font-size: 4em;
  }

  nav > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
  }

  nav > ul > li {
    padding: 0.5rem;
    list-style-type: none;
  }

  #bio img {
    float: left;
    width: 40%;
    height: auto;
    margin-right: 1rem;
  }

  #gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 550px) {
  #csstransfer {
    height: 60vh;
  }

  nav > ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
  }

  nav > ul > li {
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    padding: 0.5rem 0.5rem;
    border-radius: 25px;
  }

  nav > .fa-bars {
    display: none;
  }

  #bio {
    margin-right: 3rem;
  }

  #bio img {
    float: left;
    width: 25%;
    height: auto;
    margin-right: 1rem;
  }

  #gallery {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(33%, 1fr));
    background-color: grey;
  }
}
