body	{ background:url(imgs/procodebackground.png) top right no-repeat; background-attachment:fixed; }

  p {
    border: 2px solid darkblue;
    padding: 30px;
    font-size: larger;
    max-width: 80%;
    background-color: lightgrey;
  }
  h1 {
    border: 2px solid black;
    padding: 30px;
    max-width: 80%;
    text-align: center;
    background-color: black;
    color: white;
  }
  h2 {
    border: 2px solid black;
    padding: 30px;
    text-align: center;
    background-color: lightgrey;
    color: darkblue;
  }
.purple{
  color:purple;
  padding: 30px;
  max-width: 80%;
}
#inbox{
  border: 2px solid black;
  padding: 30px;
  max-width: 80%;
}
