<style>
  p {
    border: 2px solid darkblue;
    padding: 30px;
  }
  p {
    font-size: larger;
    max-width: 50%;
  }
  p {
    background-color: lightgrey;
  }
  h1 {
    border: 2px solid black;
    padding: 30px;
    text-align: center;
    background-color: black;
    color: white;
  }
  h2 {
    border: 2px solid black;
    padding: 30px;
    text-align: center;
    background-color: lightgrey;
    color: black;
  }
  </style>
